h1{
	color:blue;
	text-decoration: underline;
	text-transform: uppercase;
}
h2{
	color:red;
	text-decoration: underline;
	text-transform: uppercase;
}
a{
	text-decoration: none;
	color: white;
	padding: 10px;
	border: 3px;
	margin: 50px;
	background-color: rgb(00,00,00); 
}
